<a class="artist-card" [routerLink]="['/artista', cardArtist()?.slug]">
  <div class="artist-card__image-wrapper">
    @if (cardImage()) {
      <img
        class="artist-card__image"
        [src]="cardImage()"
        [alt]="cardArtist()?.artistName ?? 'Artista'"
        loading="lazy"
      />
      <div class="artist-card__gradient"></div>
    } @else {
      <div class="artist-card__placeholder" aria-hidden="true">
        <mat-icon>person</mat-icon>
      </div>
    }
    <div class="artist-card__overlay">
      <p class="artist-card__name">{{ cardArtist()?.artistName }}</p>
      <p class="artist-card__style">{{ cardStyle() }}</p>
    </div>
    @if (cardArtist()?.isCertified) {
      <span class="artist-card__badge artist-card__badge--certified" title="Artista certificado">
        <mat-icon>verified</mat-icon>
      </span>
    }
    @if (cardArtist()?.hasAwards) {
      <span class="artist-card__badge artist-card__badge--award" title="Artista premiado">
        <mat-icon>emoji_events</mat-icon>
      </span>
    }
  </div>

  <div class="artist-card__body">
    <div class="artist-card__meta">
      <span class="artist-card__location">
        <mat-icon class="artist-card__icon">place</mat-icon>
        {{ cardArtist()?.commune }}
      </span>
      <span class="artist-card__rating">
        <mat-icon class="artist-card__icon artist-card__icon--star">star</mat-icon>
        {{ cardArtist()?.averageRating | number: '1.1-1' }}
        <span class="artist-card__reviews">({{ cardArtist()?.reviewCount }})</span>
      </span>
    </div>

    <app-certification-badge [isCertified]="cardArtist()?.isCertified ?? false" size="sm" />

    <app-sponsor-badges [badges]="cardArtist()?.sponsorBadges ?? []" />
  </div>
</a>
